.content {
  margin: 0 auto 10px;
  display: flex;
}

.menu {
  max-width: 320px;
  margin: 20vh 60px 0 0;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  background: 0;
  border: 0;
  cursor: pointer;
}

.link:hover {
  color: #F2F2F3;
}

.item {
  margin: 18px 0;
}

.active {
  color: #F2F2F3
}

.main {
  width: 100%;
}
