.item {
  max-width: 272px;
  position: relative;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: inherit
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.text {
  margin: 0;
  padding: 0;
}
