.content {
  margin: 20vh auto 10px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.link {
  color: #4C4CFF;
  text-decoration: none;
}
